---
layout: default
---

<article class="post">
  
  <h2>{{ page.title }}</h2>
  <b>{{ page.excerpt }}</b>
  <br>
  <br>
  {{ page.dat }}
  <br>
  {% include share-buttons.html %}
  
  <br>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <br>
  {% include share-buttons.html %}
  {% include disqus.html %}
  
  <br>
  <br>
<div>
<h3>Articles by category</h3>
<hr>
    <ul class="two">
        <li><a href="/tag/academics" style="color:#303030;"><span class="a"><nobr>Academics</nobr></span> </a></li>
        <li><a href="/tag/economics" style="color:#303030;"><span class="a"><nobr>Economics</nobr></span> </a></li>
        <li><a href="/tag/healthcare" style="color:#303030;"><span class="a"><nobr>Healthcare</nobr></span> </a></li>
        <li><a href="/tag/how-to" style="color:#303030;"><span class="a"><nobr>How to</nobr></span> </a></li>
        <li><a href="/tag/politics" style="color:#303030;"><span class="a"><nobr>Politics</nobr></span> </a></li>
        <li><a href="/tag/sports" style="color:#303030;"><span class="a"><nobr>Sports</nobr></span> </a></li>
    </ul>
</div>

<div>
<h3>Articles by technology</h3>
<hr>
    <ul class="two">
        <li><a href="/tag/data-wrangling" style="color:#303030;"><span class="a"<nobr>Data wrangling</nobr></span> </a></li>
        <li><a href="/tag/model-selection" style="color:#303030;"><span class="a"<nobr>Model selection</nobr></span> </a></li>
        <li><a href="/tag/NMDS" style="color:#303030;"><span class="a"><nobr>NMDS</nobr></span> </a></li>
        <li><a href="/tag/R" style="color:#303030;"><span class="a"><nobr>R</nobr></span> </a></li>
	    <li><a href="/tag/regression" style="color:#303030;"><span class="a"><nobr>Regression</nobr></span> </a></li>
	    <li><a href="/tag/sentiment" style="color:#303030;"><span class="a"><nobr>Sentiment</nobr></span> </a></li>
	    <li><a href="/tag/Shiny" style="color:#303030;"><span class="a"><nobr>Shiny</nobr></span> </a></li>
	    <li><a href="/tag/Tableau" style="color:#303030;"><span class="a"><nobr>Tableau</nobr></span> </a></li>
	    <li><a href="/tag/variable-reduction" style="color:#303030;"><span class="a"><nobr>Variable reduction</nobr></span> </a></li> 
	    <li><a href="/tag/web-scraping" style="color:#303030;"><span class="a"><nobr>Web scraping</nobr></span> </a></li> 
    </ul>
</div>

<div>
<h3><a href="https://waltscienceblog.github.io/archive/" style="color:#303030;">Article archive</a></h3>  
</div>
</article>
